
body {
  margin: 0;
  padding: 0;  
}
#initial-screen {
	height: 100vh;
	width: 100vw;
	background-image: url(pill.jpg);
	background-size: cover;
}
#header{
	text-align: center;
	position: relative;
	top: 30px;
}
#header > span {
	color: white;
	margin: 18px;
	font-size: 100%;
	font-weight: bold;
}
#header a {
	text-decoration: none;
	color: white;
}
#header > span:hover {
	border-bottom: solid 3px black;
}
#title-main {
	font-size: 1000%;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px black;
}
#title {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-style: normal; font-variant: normal;
	font-size: 300%;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px black;
	position: relative;
	bottom: 22px;
}
#title-slogan {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-style: normal; font-variant: normal;
	font-size: 100%;
	font-weight: bold;	
	font-style: italic;
	position: relative;
	bottom: 22px;
}
#title-slogan span {
	color: white;
}
#uoft {
	position: relative;
	bottom: 3px;
}
 #main {
 	padding: 0;
 }
.container-fluid {
	margin: 0;
}
#tab-container {
	height: 400px;
	margin-bottom: 0;
}
.row {
	height: -webkit-fill-available;
	margin: 0 2.5% 0 2.5%;
}
#block {
	height: 10px;
	background-color: red;
	width: 25%;
}
#tabs {
	margin-top: 0;
	width: -webkit-fill-available;
}
#dynamic {
	margin-top: 50px;
	margin-bottom: 0;
}
#email {
	margin-top: 10px;
}
#join-button {
	background-color: white;
	border-bottom: 1px solid #dee2e6;
}
#footer-info {
	text-align: center;
	font-size: 55%;
}
#footer-line {
	width: 30%;
	align-self: center;
	margin-bottom: 0;
}
#comment {
		width: -webkit-fill-available;
	}
#aboutusinfo {
	text-align: center;
}
#contact-list {
	margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}
#contact-list li {
	margin-bottom: 20px;
}

@media (min-width: 1200px) {
	#tab {
		margin-top: 20px;
	}
}
@media (max-width: 991px) {

	#title {
		text-align: center;
	}
	#title-main {
		text-align: center;
	}
	#title-slogan {
		text-align: center;
	}
}
@media (max-width: 574px) {
	#initial-screen {
		width: 120%;
		height: auto;
	}
	#header > span {
	font-size: 200%;
}
}
@media (max-width: 470px) {
	#tab-container {
		height: 500px;
	}
}
@media (min-width: 575px) and (max-width: ) {
	#initial-screen {
		width: -webkit-fill-available;
	}
}
@media (max-width: 768px) {
	#footer-line {
		width: 75%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#title {
		font-size: 250%;
		bottom: 10px;
	}
	#title-slogan {
		font-size: 75%;
		bottom: 10px;
	}
	#uoft {
		bottom: 0;
		top: 30px;
	}
}